
.idea/

Generator/__pycache__/

Generator/dataset/

CNN_Model/models/

Generator/Dataset_A/

Generator/Dataset_B/

CNN_Model/Test_1/models/

Generator/dataset1/

CNN_Model/Test_2/models/

CNN_Model/Test_3/models/

Generator/Dataset_A/

Generator/Dataset_B/

Generator/Dataset_C/

Generator/dataset3/

Generator/dataset1/

CNN_Model/Test_2/models/

CNN_Model/Test_3/models/

Generator/Dataset_A/

Generator/Dataset_B/

Generator/Dataset_C/

Generator/dataset3/

Generator/dataset1/

Generator/Dataset_A2/

Generator/Dataset_A3/

Generator/Dataset_A4/

Generator/Dataset_A5/

Generator/Dataset_B2/

Generator/Dataset_D/

Generator/Dataset_B3/

Generator/Datasets/
